{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус</th>
      <th>Способ оплаты</th>
      <th>Стоимость</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Комментарий</th>
      <th>Ресторан</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.status }}</td>
        <td>{{ item.payment }}</td>
        <td>{{ item.cost }} руб.</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.phonenumber }}</td>
        <td>{{ item.address }}</td>
        <td>
          {% if item.restaurant_selected %}
            <b style="color: green">Готовится в</b><br><ul><li>{{item.restaurant}}</li></ul>
          {% endif %}
          {% if item.restaurant_possible %}
            <b style="color: green">Может быть приготовлен в</b><br><ul><li>{{item.restaurant_possible}}</li></ul>
<!--            <details style="border: 1px solid; border-radius: 4px; padding: 0.5em 0.5em 0">-->
<!--              <summary><p style="color: red">Может быть приготовлен в...{{item.restaurant_possible}}</p></summary>-->
<!--              <b style="color: red">Может быть приготовлен в...</b><br><ul><li>{{item.restaurant_possible}}</li></ul>-->
<!--            </details>-->
          {% endif %}
        </td>
        <td>{{ item.comment }}</td>
        <td>
          <a href="{{ item.admin_url }}" target="_blank">Редактировать</a>
        </td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
